<section class="section">
    <h2 class="title is-4">Médias recommandés</h2>
    <div class="columns is-multiline">
      <div class="column is-one-quarter" *ngFor="let media of recommendedMedia">
        <div class="box">
          <p class="has-text-weight-bold">{{ media.title }}</p>
          <p class="is-size-7">{{ media.genre?.join(', ') }}</p>
          <p *ngIf="media.releaseDate">({{ media.releaseDate }})</p>
          <!-- <button class="button is-small is-primary mt-2" (click)="addToFavorites(media)">
            Ajouter aux favoris
          </button> -->
        </div>
      </div>
    </div>
  </section>