<nav class="navbar is-fixed-top is-dark-light">
  <div class="navbar-brand">
    <a class="navbar-item"> WPL </a>
  </div>
  <div class="navbar-end" style="padding: 0.5rem">
    <div *ngIf="user; else notConnected">
      <span class="span is-size-4"  style="margin: 2rem;">
        Bonjour <strong>{{ user.username }}</strong>
      </span>
      <button class="button is-light" (click)="logout()">Se déconnecter</button>
    </div>
    <ng-template #notConnected>
      <button class="button is-light" (click)="login()">Se connecter</button>
    </ng-template>
  </div>
</nav>

<section class="hero is-dark is-fullheight">
  <div class="hero-body">
    
    <div class="container has-text-centered" style="padding: 5rem;">
      <h1 class="title">Bienvenue sur WPL !</h1>
      <h2 class="subtitle">Watch, Play & Listen</h2>
    </div>
  </div>
  <div class="container is-max-tablet is-hidden-mobile">
    <div class="field is-grouped">
        <p class="control is-expanded">
          <input class="input" type="text" placeholder="Find a repository">
        </p>
        <p class="control">
          <button class="button is-light">
            Search
          </button>
        </p>
      </div>
    </div>

  <section class="section is-hidden-mobile">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdx2C3UXGsv3gn8mbOK2WliWhsZr7jHopy7Q&s"
                  alt="Films"
                />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4 has-text-dark has-text-centered">Films</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://images.theconversation.com/files/193581/original/file-20171107-1020-1ls773a.jpg?ixlib=rb-4.1.0&q=45&auto=format&w=926&fit=clip"
                  alt="Séries"
                />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4 has-text-dark has-text-centered">Séries</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="https://artfiles.alphacoders.com/889/thumb-1920-88984.jpg"
                  alt="Jeux vidéo"
                />
              </figure>
            </div>
            <div class="card-content">
              <p class="title is-4 has-text-dark has-text-centered">
                Jeux-vidéos
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
