<section class="section">
    <div class="container">
      <h1 class="title">Médias</h1>
  
      <h2 class="subtitle">Films</h2>
      <div *ngIf="movies.length > 0; else noMovies">
        <ul>
          <li *ngFor="let movie of movies">
            {{ movie.title }}
          </li>
        </ul>
      </div>
      <ng-template #noMovies>
        <p>Aucun film trouvé.</p>
      </ng-template>
  
      <h2 class="subtitle">Séries</h2>
      <div *ngIf="series.length > 0; else noSeries">
        <ul>
          <li *ngFor="let serie of series">
            {{ serie.title }}
          </li>
        </ul>
      </div>
      <ng-template #noSeries>
        <p>Aucune série trouvée.</p>
      </ng-template>
  
      <h2 class="subtitle">Jeux Vidéo</h2>
      <div *ngIf="videoGames.length > 0; else noGames">
        <ul>
          <li *ngFor="let game of videoGames">
            {{ game.title }}
          </li>
        </ul>
      </div>
      <ng-template #noGames>
        <p>Aucun jeu vidéo trouvé.</p>
      </ng-template>
    </div>
  </section>