<app-navbar></app-navbar>
<section class="section has-text-centered has-background-white-ter">
  <h1 class="title">404</h1>
  <h2 class="is-size-2 subtitle">Contenu introuvable</h2>
  <p class="subtitle">
    Vous vous êtes peut-etre trompé de route ?
  </p>
  <div>
    <img src="../../../../assets/images/404.jpeg" alt="Peugeot_404" />
  </div>
  <button
    type="submit"
    class="button has-background-primary-40 has-text-primary-25-invert"
    (click)="redirectToHome()"
  >
    Retour à l'accueil
  </button>
</section>
